In [55]:
import pandas as pd

In [56]:
# Load the dataset
df = pd.read_csv('c:/data science/10 academy/week5/Technical Content/Data/data.csv')

In [57]:
# Display basic information
print("DataFrame Info:")
display(df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   CurrencyCode          95662 non-null  object
 6   CountryCode           95662 non-null  int64
 7   ProviderId            95662 non-null  object
 8   ProductId             95662 non-null  object
 9   ProductCategory       95662 non-null  object
 10  ChannelId             95662 non-null  object
 11  Amount                95662 non-null  float64
 12  Value                 95662 non-null  int64
 13  TransactionStartTime  95662 non-null  object
 14  PricingStrategy       95662 non-null  int64
 15  FraudResult           95662 non-null  int64
dtypes: float64(1), int64(4), object(11)
memory usage: 11.7+ MB

None

In [58]:
# 1. Checking for missing values
print("Missing Values in Each Column:")
print(df.isnull().sum())

Missing Values in Each Column:
TransactionId           0
BatchId                 0
AccountId               0
SubscriptionId          0
CustomerId              0
CurrencyCode            0
CountryCode             0
ProviderId              0
ProductId               0
ProductCategory         0
ChannelId               0
Amount                  0
Value                   0
TransactionStartTime    0
PricingStrategy         0
FraudResult             0
dtype: int64

In [59]:
# 2. Dropping duplicate rows (if they exist)
df.drop_duplicates(inplace=True)

In [60]:
# 3. Converting 'TransactionStartTime' to datetime format
df['TransactionStartTime'] = pd.to_datetime(df['TransactionStartTime'], errors='coerce')

In [61]:
# 4. Handling any potential missing values caused by invalid datetime conversion
df['TransactionStartTime'].fillna(df['TransactionStartTime'].mode()[0], inplace=True)

C:\Users\michael\AppData\Local\Temp\ipykernel_7976\3050186781.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TransactionStartTime'].fillna(df['TransactionStartTime'].mode()[0], inplace=True)

In [62]:
# Summary of the cleaned data
print("\nCleaned Data Info:")
print(df.info())

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   CurrencyCode          95662 non-null  object
 6   CountryCode           95662 non-null  int64
 7   ProviderId            95662 non-null  object
 8   ProductId             95662 non-null  object
 9   ProductCategory       95662 non-null  object
 10  ChannelId             95662 non-null  object
 11  Amount                95662 non-null  float64
 12  Value                 95662 non-null  int64
 13  TransactionStartTime  95662 non-null  datetime64[ns, UTC]
 14  PricingStrategy       95662 non-null  int64
 15  FraudResult           95662 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(10)
memory usage: 11.7+ MB
None

In [63]:
# Save the cleaned dataset to a new file if needed
df.to_csv('../data/proccessed/cleaned_data.csv', index=False)